{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    var tapElement = document.getElementById("tap-box");
    var tap = new Hammer(tapElement);
    tap.on("tap", function(ev_tap) {
    tapElement.textContent = ev_tap.type +" gesture detected ";
});
    var swipeElement = document.getElementById("swipe-box");
    var swipe = new Hammer(swipeElement);
    swipe.on("swipe", function(ev_swipe) {
    swipeElement.textContent = ev_swipe.type +" gesture detected ";
});
    var panElement = document.getElementById("pan-box");
    var pan = new Hammer(panElement);
    pan.on("pan", function(ev_pan) {
    panElement.textContent = ev_pan.type +" gesture detected ";
});
    var pressElement = document.getElementById("press-box");
    var press = new Hammer(pressElement);
    press.on("press", function(ev_press) {
    pressElement.textContent = ev_press.type +" gesture detected ";
});
    
    var pinchElement = document.getElementById("pinch-box");
    var pinch = new Hammer.Manager(pinchElement);
    var pinch_a = new Hammer.Pinch();
    pinch.add(pinch_a);
    pinch.on("pinch", function(ev_pinch) {
    pinchElement.textContent = ev_pinch.type +" gesture detected ";
});
    var rotateElement = document.getElementById("rotate-box");
    var rotate = new Hammer.Manager(rotateElement);
    var rotate_a = new Hammer.Rotate();
    rotate.add(rotate_a);
    rotate.on("rotate", function(ev_rotate) {
    rotateElement.textContent = ev_rotate.type +" gesture detected ";
});
    
    
  </script>
</body>
</html>
